*{box-sizing:border-box}
body{
  margin:0;
  font-family:Arial;
  background:#f2f4f8;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

header{
  background:#1976d2;
  color:white;
  padding:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.top-btns button{
  margin-left:6px;
}

.card{
  background:white;
  width:320px;
  margin:40px auto;
  padding:20px;
  border-radius:12px;
  box-shadow:0 6px 15px rgba(0,0,0,.15);
  text-align:center;
}

input,button{
  width:100%;
  padding:10px;
  margin:6px 0;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:15px;
}

button{
  background:#1976d2;
  color:white;
  border:none;
  cursor:pointer;
}

button:hover{
  background:#125aa3;
}

.welcome{
  text-align:center;
  margin-top:60px;
}

table{
  width:95%;
  margin:20px auto;
  background:white;
  border-collapse:collapse;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
}

th,td{
  padding:10px;
  text-align:center;
  border-bottom:1px solid #ddd;
}


